* {
  box-sizing: border-box;
}

.header {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: rgb(229, 223, 211);
  background: linear-gradient(
    0deg,
    rgba(229, 223, 211, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 15em;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 3em;
  justify-content: end;
}

header{
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}
.nav-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.body-box {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 3em 0;
  gap: 2em;
}

section {
  padding-left: 7vw;
  padding-right: 7vw;
}

.section-box {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.section-title {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1em;
  flex: 1 1 6em;
}

.section-text {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 5 5;
  max-width: 40em;
  gap:1em;
}

.feature-box {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 1em;
}

.feature-item {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10vw;
  align-items: center;
  align-self: center;
  max-width: fit-content;
}

.feature-text {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  max-width: 15em;
  gap: 1em;
}


.test-box{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.test-box-left{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  flex: 1 1 6em;
}
.test-title{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  gap:1em;
}
.border{
    border-left: rgb(188, 101, 10) 0.1em dashed;
    height:100%;
}
.test-box-right{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 5 5;
  max-width: 40em;
  gap:1em;

}

.wrap-box{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
    display: -ms-flex; /* For support in IE 10 */
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap:1em;
}
.results-item {
    flex:40%;
    padding-left:3em;
    padding-right:3em;
}

.summary-title{
    flex:20%;
}
.summary-text{
    flex:75%;
    display: -webkit-flex; /* For support in a series of Webkit browsers */
    display: -ms-flex; /* For support in IE 10 */
    display: flex;
    -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
    gap:1em;
}


@media (max-width: 62em) {
  .section-title {
    flex: 0 0 100%;
  }
  /* .feature-item:nth-of-type(2) .feature-text{
        order:2;
    } */
    .test-box-left{
        flex:0 0 100%;
        border-left: none;
    }
    .test-box-right{
        border-left: rgb(188, 101, 10) 0.1em dashed;
        padding-left:1.5em;
    }
}
