* { box-sizing: border-box; }  

header{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgb(229,223,211);
    background: linear-gradient(0deg, rgba(229,223,211,1) 0%, rgba(255,255,255,1) 100%);
    height:15em;
    padding-left:7vw;
    padding-right:7vw;
    padding-bottom:3em;
    justify-content: end;

}

.nav-container ul{
    display: -webkit-flex; 
	display: -ms-flex; 
    display:flex;

    justify-content: space-evenly;
}


.body-box{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap:1em;
    
}

section{
    padding-left:7vw;
    padding-right:7vw;
}

.section-title{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap:1em;
}

.section-box{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap:10vw;
}
.section-text{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width:50vw;
    max-width:30em;
    gap:1em;
}

.persona-box{
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap:1em;
}

.persona-flex1 { 
    display: -webkit-flex; /* For support in a series of Webkit browsers */
	display: -ms-flex; /* For support in IE 10 */
	display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;    
    gap:1em;
    flex: 1 1 15em; 
}

.persona-flex2 { flex: 3 3 30em; } 