/*----//TYPE ----*/
@font-face {
  font-family: "Newsreader";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Newsreader-VariableFont_opsz\,wght.ttf") format("truetype");
}

a {
  padding: 1em;
  font-size: 18px;
  font-weight: 300;
}

body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: rgb(49, 26, 4);
  font-size: 1.5em;
}

h1 {
  font-family: "Newsreader", "Times New Roman", Times, serif;
  color: rgb(188, 101, 10);
  margin: 0;
}

h2 {
  font-family: "Newsreader", "Times New Roman", Times, serif;
  margin: 0;
}

h3 {
  color: rgb(149, 139, 117);
  font-weight: 300;
  margin: 0;
}

h4 {
  color: rgb(149, 139, 117);
  font-weight: 300;
  margin: 0;
}

h5{
    margin:0;
}

p {
  margin: 0;
  font-weight: 300;
}

#greeting {
  display: block;
  font-style: normal;
  font-weight: 250;
  font-size: 1em;
  margin: 1em 0;
  color: rgb(49, 26, 4);
  /* line-height: 106%; */
}


/*----//TYPE ----*/

/*----- IMGs ----*/
img {
  height: auto;
  max-width: 100%;
}

#icon {
  display: block;
  margin: 1em 0 0 0;
  width: 90px;
  height: 90px;
  box-shadow: 13px 10px 26px rgba(65, 41, 18, 0.2);
}
.circle-img{
    height:1em;
    width:auto;
    transform:translate(-0.5em,0em);
}

.section-left img{
    max-width:10em;
}
/*----- //IMGs ----*/

/* ---- HEADER & SECTIONS ----- */
.header {
  background-image: url("../img/main-header.png");
  background-repeat: no-repeat;
  width: 100%;
  display:block;
  background-size:contain;
  padding-left: 7vw;
  padding-right: 7vw;
  justify-items: flex-end;
}
.header:after{
    display: block;
  content: '';
  padding-top: 35.3125%;
  z-index: -1;
}
.header-text{
    position: absolute;
}
header{
    height:4em;
    width:100%;
    background-color: white;
}

header button{
    background:none;
    border:none;
    padding:0.3em;
    padding-left:0.5em;
    padding-right:0.5em;
    height:fit-content;
}
header button:active, header button:hover, header .active{
    background-color: rgb(188, 101, 10);
    color:white;
    border-radius: 0.6em;
}

/* ---- //HEADER & SECTIONS ----- */

/*---- NAV BAR ----*/

nav .nav-container {
  background: white;
  padding: 1em;
}

.nav-container a {
  text-decoration: none;
  color: rgb(49, 26, 4);
}

.nav-container a:focus,
.nav-container a:hover {
  color: rgb(188, 101, 10);
  text-decoration: underline;
}


.section-num {
  color: rgb(188, 101, 10);
}

.feature-text h4 {
  display: inline;
  text-align: left;
  font-weight: 500;
  color: rgb(49, 26, 4);
}

/* .feature-img .right {
  border: 1px solid black;
} */
/* --- // MEDIA QUERIES ----- */

@media (min-width: 600px) {
  .feature-img {
    max-width: 30%;
    max-height: 30%;
    display: block;
    justify-content: left;
  }

  .feature-img.right {
    margin-left: 150px;
  }
}

@media (max-width: 600px) {
  .feature-img {
    max-width: 50%;
    max-height: 50%;
  }

  .feature-img.right {
    margin-left: 0px;
    display: block;
  }
}


